<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>pod:</th>
      <td>{{ hostName }}</td>
    </tr>
    <tr>
      <th>node:</th>
      <td>{{ platform }} ({{ release }})</td>
    </tr>
    <tr>
      <th>used memory:</th>
      <td>{{ usedMemoryMB }} MB</td>
    </tr>
    <tr>
      <th>env.PORT:</th>
      <td>{{ port}}</td>
    </tr>
    <tr>
      <th>env variables:</th>
      <td>{{ envVariables }}</td>
    </tr>


  </table>

</div>
